{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Create New Survey - Corum</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row center">
      <div class="col-md-6 offset-md-3">
          <h2>Create new poll</h2>
          <form action="" method="POST">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                  {{ field.errors }}
                  {{ field.label_tag }}
                  {{ field }}
              </div>
              {% endfor %}
              <br/>
              <button type="submit" class="btn btn-success">Add Poll</button>
              <a class="btn btn-danger" href="{% url 'lists' %}" role="button">Cancel</a>
          </form>
      </div>
  </div>
</div>
{% endblock content %}