<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new Survey</title>
</head>
<body>
  <h1>Add a new Survey here</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <label for="title">Title</label><br>
    <input type="text" name="title" required><br>
    <label for="description">Description</label><br>
    <input type="text" name="description" required><br>
    <label for="first_option">Option 1</label><br>
    <input type="text" name="first_option" required><br>
    <label for="second_option">Option 2</label><br>
    <input type="text" name="second_option" required><br>
    <label for="third_option">Option 3</label><br>
    <input type="text" name="third_option" required><br>
    <input type="submit" value="Submit">
  </form>

</body>
</html>