a{
    text-decoration: none;
}
.row{
    min-height:500px !important;
}
.card{
    max-height:600px;
    min-height: 600px;
    min-width: 310px;
}
.col{
    max-height: 600px;
}
#foot{
    max-height: 59px;
}
.back{
    background-color:#4FE8B4;
}
.warn{
    color:#FF8800;
}
.btn{
    width:100%;
}