{% extends 'base.html' %}
    
{% block meta %}
    <title>Blog</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock meta %}
    
{% block content %}
    <div class="post-wrapper filter transition duration-700 container bg-beige-lightest m-auto text-left box-border max-w-full">
        
        
        <section class="px-2 xl:px-28 py-5 mb-5 text-black text-center text-sm-start bg-white">
 
                <div class="flex items-center justify-between">
                    <div class="text-left">
                        <h1 style="font-weight: bold;">
                            SURVEY SEPUTAR <span class="t-span">COVID-19</span>
                        </h1>
                        <h5>
                            Lihat dan ikuti sejumlah mini survey menarik untuk menambah wawasan seputar 
                            <span class="t-span">COVID-19</span>
                        </h5>
                    </div>
                    <img class="image-fluid w-20 float-right block" src="https://upload.wikimedia.org/wikipedia/commons/8/82/SARS-CoV-2_without_background.png" alt="Header logo">
                </div>
        </section>
        

        {% for post in posts %}
        <div class="thumbnail-wrapper {{ post.pk }}">
            {% if post.thumbnail %}
            <img class="thumbnail" src="{{ post.thumbnail.url }}" alt="">
            {% endif %}
        </div>
        <div class="header-wrapper {{ post.pk }} px-2 xl:px-28 pb-24">
            <h2 class="m-auto pt-4 pb-2 md:pt-6 md:pb-4 text-left break-words text-4xl sm:text-5xl md:text-6xl">
                {{ post.title }}
            </h2>
            <h3 class="m-auto py-2 md:py-4 pl-1 pr-1 text-left italic break-words text-base sm:text-xl md:text-2xl">
                {{ post.subtitle }}
            </h3>
        </div>
        <div class="info-wrapper {{ post.pk }} pt-4 px-2 xl:px-28 pb-12 sm:pb-8 flex justify-between">
            <small class="ml-1 text-xs sm:text-sm">
                Posted on {{ post.date_published }}
                <br>
                By {{ post.author }}
            </small>

            <div class="flex">
                
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <a href="{{ post.title|slugify }}/edit-post" class="pen-button mr-0.5 md:mr-2 pt-2">
                    <svg class="mx-auto h-6 md:h-8 w-6 md:w-8 text-gray-400 flex text-center" stroke="currentColor" fill="none" viewBox="0 0 44 44">
                        <path d="M 29 2 L 9 30 L 7 36 L 12 32 L 32 4 C 32 3 31 2 29 2 M 11 30 L 29 5" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </a>

                <div class="trash-button mr-3 md:mr-4 pt-2">
                    <svg class="delete-post {{ post.pk }} mx-auto h-6 md:h-8 w-6 md:w-8 text-gray-400 flex text-center cursor-pointer" stroke="currentColor" fill="none" viewBox="0 -2 44 44">
                        <path d="M 16 5 C 16 1 24 1 24 5 M 8 6 L 32 6 M 14 7 C 11 7 9 7 9 9 L 10 32 Q 10 34 13 34 L 27 34 Q 30 34 30 32 L 31 9 C 31 7 29 7 26 7 L 14 7 M 14 10 L 15 31 M 26 10 L 25 31 M 20 10 L 20 31" stroke-width="2.2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <input type="hidden" name="post-prim-key" value="{{ post.pk }}"/>
                    </svg>
                </div>
                {% endif %}
                {% endif %}

                <a href="{{ post.title|slugify }}" 
                class="transition px-3 py-2 text-center w-auto sm:w-28 md:w-32 sm:px-4 sm:py-2 text-xs sm:text-sm md:text-base mr-0.5 md:mr-1 rounded-md border-solid border-2 shadow-xl border-gray-800 bg-white hover:bg-emerald-400">
                    Read More
                </a>
            </div>
        </div>
        <div class="info-footer {{ post.pk }} block">
            <div class="border-t border-gray-200"></div>
        </div>

        {% endfor %}
        <div class="pb-32 bg-white"></div>
    </div>

    {% for post in posts %}
    <div class="delete-modal-wrapper {{ post.pk }}">
        <div class="delete-modal-content px-20 py-4 rounded-t-3xl">
            <!-- Create a Form -->
            <form class="delete-form box-border px-20" action="/blog/{{ post.title|slugify }}/delete-post/" method="POST">
                <!-- Security token by Django -->
                {% csrf_token %}
                <svg class="mx-auto h-60 w-60 text-gray-500 flex text-center" stroke="currentColor" fill="none" viewBox="0 -2 40 40" aria-hidden="true">
                    <path d="M 15 4 C 14 0 23 -2 24 2 M 8 6 L 31 1 M 14 7 C 11 7 9 7 9 9 L 10 32 Q 10 34 13 34 L 27 34 Q 30 34 30 32 L 31 9 C 31 7 29 7 26 7 L 14 7 M 14 10 L 15 31 M 26 10 L 25 31 M 20 10 L 20 31" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
                <h2 class="text-2xl flex justify-center">
                    You're about to delete one of your posts. Are you sure you want to proceed?
                </h2>
                <div class="text-base px-8 pt-10 mx-10 flex justify-center">
                    <input type="submit" class="text-center w-24 px-3 py-2 sm:px-4 sm:py-2 text-xs sm:text-sm md:text-base mr-0.5 md:mr-1 ml-0.5 md:ml-1 rounded-md border-solid border-2 shadow-xl border-gray-800 bg-white hover:bg-emerald-400" value="Yes" />
                    <button type="reset" class="cancel text-center w-24 px-3 py-2 sm:px-4 sm:py-2 text-xs sm:text-sm md:text-base mr-0.5 md:mr-1 ml-0.5 md:ml-1 rounded-md border-solid border-2 shadow-xl border-gray-800 bg-white hover:bg-emerald-400">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
    {% load static %}
    <script src="{% static 'blog/js/delete_post.js' %}" crossorigin="anonymous"></script>
{% endblock content %}
