{% extends 'base.html' %}
    
{% block meta %}
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
{% endblock meta %}

{% block content %}
    <div class="flex-none">
        <img class="relative w-full h-screen box-border object-cover z-10" src="{{ post.thumbnail.url }}" alt="">
        <div class="absolute bottom-0 pb-8 max-w-3xl w-full z-20">
            <div class="w-full pl-10 mr-10 text-left box-border">
                <div class="pb-3 pl-6 bg-pink-200 rounded-l-xl rounded-r-none md:rounded-r-xl shadow-2xl">
                    <h1 class="m-auto pt-4 pb-1 sm:pb-2 text-left break-words text-4xl sm:text-5xl">
                        {{ post.title }}
                    </h1>
                    <h2 class="m-auto py-2 pl-1 pr-1 text-left italic break-words opacity-50 text-base sm:text-xl">
                        {{ post.subtitle }}
                    </h2>
                    <small class="m-auto pt-3 pl-1 pr-1 opacity-40 text-xs sm:text-sm">
                        By {{ post.author }}. Posted on {{ post.date_published }}
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="m-auto text-center pb-12 pt-12">
        <div class="max-w-6xl m-auto pb-10 pt-10 px-8 text-left text-base sm:text-xl">
            {{ post.body|safe }}
        </div>
    </div>
{% endblock content %}
