{% extends 'base.html' %}
{% block meta %} 
<title>
  {{ forum.title }} 
</title>
{% endblock meta %}

{% block content %}

<style>
  body {
    background-color: #c2c26d;
  }

  div * {
    margin: 0;
    padding: 0;
  }

  a,
  a>h2 {
    margin: 0;
    padding: 0;
  }

  #edit-btn {
    display: none;
  }
</style>

<div class="container my-5">

  <div class="my-4 d-flex mx-3 mx-md-5">
    <a href=" {% url 'home' %}?hashtag={{forum.pk}}" style="text-decoration: none; color: rgb(33, 37, 41);">
      <h2 id="forum-title" name="title"> {{ forum.title }} </h2>
      <p id="user-username" class="d-none">{{ user.username }} </p>
    </a>
  </div>

  <div class="forum-container m-3 m-md-5 shadow rounded">

    <div class="card border-0">
      <div class="card-body">
        <div class="card-text">

          <div class="row p-2">
            <!-- avatar -->
            <div class="col-1 col-sm-1 d-none d-sm-flex align-self-center p-0 me-1" style="width: 60px; height: 60px;">
              <a href="#2" style="border: 0;">
                <img style="width: 60px; height: 60px;" class="rounded-circle p-0"
                  src="https://www.gravatar.com/avatar/8ffba22ca3f8fa42883f175c42b9049f?s=128&d=mm&r=g" alt="avatar">
              </a>
            </div>
            <div class="col-12 col-sm-10 ps-sm-2 align-self-center">
              <div class="d-flex flex-wrap">
                <!-- author -->
                <div class="flex-column pe-2">
                  <p class="author fs-6" name="author">{{ forum.author }}</p>
                </div>
                <!-- time modified -->
                <div class="flex-column small text-muted align-self-center">
                  {% load humanize %}
                  <p class="forumTimeModified forumData" name="time_modified" style="font-size: 14px;">
                    {{ forum.time_modified | naturaltime }} </p>
                </div>
              </div>
            </div>
            <div class="col-0 col-sm-1"></div>
            <!-- body -->
            <div class="col-12 my-2 pt-3">
              <p type="" class="" rows="">{{ forum.body | linebreaksbr }}</p>
            </div>
            
            <div class="col-12 text-end">
              {% if forum.author == user %}

              <!-- edit button -->
              <button type="button" class="btn btn-sm btn-outline-primary edit-btn m-0 px-1 py-0" id="edit-btn"
                onClick="editForum('{{ forum.pk }}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square d-inline d-sm-none" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg>
                <span class="btn-text d-none d-sm-inline">Edit</span>
              </button>

              <!-- delete button -->              
              <button type="button" class="btn btn-sm btn-outline-danger delete-btn m-0 px-1 py-0"
                onClick="location.href='{% url 'forum_delete' pk=forum.pk%} '">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash d-inline d-sm-none" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                  </path>
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                  </path>
                </svg><span class="btn-text d-none d-sm-inline">Delete</span>
              </button>

              {% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  {% if user.is_authenticated %}
  <!-- add comment -->
  <div class="container px-3 my-5">

    <form class="your-answer" method="post" >
      {% csrf_token %}
      <div id="add-comment" class="row m-0">
        <div class="col-1 d-none d-sm-flex avatar p-0" style="width: 50px; height: 50px;">
          <img class="rounded-circle"
            src="https://www.gravatar.com/avatar/8ffba22ca3f8fa42883f175c42b9049f?s=128&d=mm&r=g" alt="">
        </div>
        <div class="col-11 col-sm-10 col-md-11 align-self-center">
          <div class="col-12 fw-bold"> Your Answer </div>
          <div class="input-group col-12 mt-2 shadow">
            <textarea id="forum-answer" name="body" class="form-control"
              placeholder="Leave your answer here..."></textarea>
          </div>
        </div>
        <div class="col-1 d-none d-sm-flex p-0" style="width: 50px"></div>
        <div id="add-comment" class="col-12 col-sm-10 align-self-center">
          <div class="col-12">
            <button id="add-comment" class="btn btn-sm btn-outline-success m-1 mt-2 shadow" type="submit">Reply</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% endif %}
<!-- end of add comment -->

  <div class="container my-5">
    <h4><b> {{ forum.comments.all.count }} Answer </b></h4>
  </div>



  <!-- comments -->
  {% if forum.comments  %}
  {% for comment in forum.comments.all %}
  <div class="card shadow border-0">
    <div class="card-body">
      <div class="card-text">
        <div class="container">
          <div class="row">
            <!-- avatar -->
            <div class="col-1 col-sm-1 d-none d-sm-flex p-0 me-1 align-items-center" style="width: 50px; height: 50px;">
              <a href="#2" style="border: 0;">
                <img style="width: 50px; height: 50px;" class="rounded-circle p-0"
                  src="https://www.gravatar.com/avatar/8ffba22ca3f8fa42883f175c42b9049f?s=128&d=mm&r=g" alt="avatar">
              </a>
            </div>
            <div class="col-12 col-sm-10 ps-sm-2 align-self-center">
              <div class="row">
                <!-- author -->
                <div class="col pe-2">
                  <p class="author fs-6"><strong>{{ comment.author }}</strong> </p>
                </div>
              </div>
            </div>
            <!-- <div class="col-0 col-sm-1"></div> -->
            <!-- body -->
            <div class="col-12 ps-sm-5 mt-2">
              <div class="p"> {{ comment.body | linebreaks }} </div>
            </div>
            <!-- time modified -->
            <!-- <div class="col-0 col-sm-1"></div> -->
            <div class="col-12 ps-sm-5 small text-muted align-self-center">
              {% load humanize %}
              <small> {{ comment.time_modified | naturaltime }} </small>
            </div>
            <div class="col-12 text-end">
              <!-- edit button -->
              <button type="button" class="btn btn-sm btn-outline-primary edit-btn m-0 px-1 py-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-square d-inline d-sm-none" viewBox="0 0 16 16">
                  <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                  <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                </svg><span class="btn-text d-none d-sm-inline">Edit</span>
              </button>
              <!-- delete button -->
              <button type="button" class="btn btn-sm btn-outline-danger delete-btn m-0 px-1 py-0">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-trash d-inline d-sm-none" viewBox="0 0 16 16" onClick="comment({{ comment.pk }})">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                  </path>
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                  </path>
                </svg><span class="btn-text d-none d-sm-inline">Delete</span>
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>

  <script>
  $("form#add-comment").submit(function () {
    var authorr = document.getElementById("user-username").textContent;
    var answerInput = $('textarea[name="body"]').val().trim();
    var titlee = document.getElementById("forum-title").textContent;
    console.log("tekan");
    if (answerInput) {
      $.ajax({
        url: "comment/create",
        data: {
          author: authorr,
          forum: '{{ forum }}',
          body: answerInput,
        },
        dataType: "json",
        success: function (data) {
          if (data.forum) {
            appendToCommentList(data.forum);
          }
        },
        error: function (data) {
          console.log(data);
        },
      });
    } else {
      alert("Please enter a valid value.");
    }
    getElementById("add-comment").trigger("reset");
    return false;
  });
</script>

  <script>
  // Delete Forum
    function deleteForum(pk) {
        var action = confirm("Are you sure you want to delete this forum?");
        if (action != false) {
          $.ajax({
            type: "post",
            url: "$(pk)/delete",
            data: {
              pk: pk,
            },
            dataType: "json",
            success: function (data) {
              // if (data.deleted) {
              //   $("#forum-list #forum-" + pk).remove();
              // }
            },
          });
        }
      }
  </script>

  {% endblock content %}