{% load static %}
<footer class="d-flex flex-column flex-wrap justify-content-between align-items-center p-3 border-top">
  <ul class="nav list-unstyled d-flex justify-content-end">
    <li class="nav-item d-flex align-items-center">
      <a class="nav-link" href="/">
        About Us
      </a>
    </li>
  
    <li class="nav-item d-flex align-items-center">
      <a class="nav-link" href="https://github.com/chrisbagas/C08" target="_blank">
        <i class='bx bxl-github' style="font-size: 32px;"></i>
      </a>
    </li>
  </ul>

  <div>
    <a href="/" class="d-flex align-items-center text-muted text-decoration-none">
      <img width="72" height="72" src="{% static 'image/corum.png' %}" />
      <span class="ms-3 text-muted">&copy; 2021 Corum</span>
    </a>
  </div>
</footer>